ul.roadmap-legend {
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
}

ul.roadmap-legend li {
  display: inline-block;
  margin-right: 20px;
}

ul.roadmap-legend li:last-child {
  margin-right: 0;
}

ul.roadmap-legend li span {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  vertical-align: middle;
}

ul.roadmap {
  max-width: 960px;
  margin: auto;
  position: relative;
  padding: 0;
}

ul.roadmap::before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  top: 0;
  bottom: 0;
  left: 19px;
  width: 4px;
  background-color: #ccd;
  border-radius: 1em;
}

ul.roadmap li {
  list-style-type: none;
}

ul.roadmap li .fadediv {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

ul.roadmap li .icon {
  height: 42px;
  width: 42px;
  border-radius: 50px;
  display: inline-block;
  margin-right: 20px;
  padding: 2px;
  color: #000000;
  text-align: center;
  font-size: 25px;
}

ul.roadmap li .content {
  flex: 1;
  font-size: 1.2em;
}

ul.roadmap li .content .title {
  font-weight: bold;
}

ul.roadmap li .content .description {
  font-size: 0.8em;
}
