<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<style type="text/css">
    @media screen and (min-width: 320px) {
        h1 {
            font-size: calc(20.73852px + 10.43908 * ((100vw - 320px) / 960));
        }
    }

    #minder-view {
        border: 1px solid #ccc;
        left: 10px;
        top: 10px;
        right: 10px;
    }

    table {
        font-size: 0.8rem
    }

    table th {
        font-weight: bold;
        text-align: center !important;
        background: rgba(158, 188, 226, 0.2);
        white-space: nowrap;
    }

    table th,
    table td {
        /* th: table colum header； td： table colum */
        border: 1px solid #ccc;
        word-wrap: break-word;
        word-break: break-all;
    }

    img {
        display: block;
        margin: auto;
    }

    code {
        font-size: 0.8rem;
        line-height: 120%;
    }

    .imagebox div {
        float: left;
        margin-left: 10px;
    }

    .imagebox div img {
        display: block;
    }
</style>
<!-- end custom head snippets -->