<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="stylesheet" href="/assets/css/kityminder.css" rel="stylesheet">
<style type="text/css">
#minder-view {
        border: 1px solid #ccc;
        left: 10px;
        top: 10px;
        right: 10px;
    }
table th {
  font-weight: bold;
  text-align: center !important; 
  background: rgba(158,188,226,0.2);
  white-space: nowrap;
}
table th, table td {  /* th: table colum header； td： table colum */
  border: 1px solid #ccc;
  word-wrap:break-word;
  word-break:break-all;
}
img{
  display: block;
  margin:auto; 
}
.imagebox div{
  float: left;
  margin-left:10px;
}
.imagebox div img{
  display:block;
}
</style>
<!-- end custom head snippets -->
